:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-accent-color: #2196F3;
    --secondary-accent-color: #FFFFFF;
}
body{
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/* Шапка сайта */
.site-header{
    background-color: var(--secondary-accent-color);
    border-bottom: 1px solid #ECECEC;
}
.logo{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-accent-color);   
}
.header-logo-span{
   color: var(--title-text-color);
}
/* Навигация сайта */
.nav-list,
.header-email,
.header-contacts{
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link{
    text-decoration: none;
    color: var(--title-text-color);
}
.nav-link:hover, 
.nav-link:focus, 
.nav-link.current,
.header-email-link:hover, 
.header-email-link:focus, 
.header-tel-link:hover,
.header-tel-link:focus {
    color: var(--primary-accent-color);
}
.header-email-link,
.header-tel-link{
    color: var(--primary-text-color);
}
/* Секция Hero */
.hero{   
    background-color: #2F303A;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
    }
.hero-button{
    cursor: pointer;
    font-family: inherit;
    background-color: var(--primary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--secondary-accent-color);
   
    }
.hero-button:hover, .hero-button:focus{
    background-color: hsl(207, 90%, 64%);
   
}

/* Секция преимущества*/
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}
.features-list-title{
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
/* Секция наша команда*/
.section-team{
    background-color:#F5F4FA;
}
.team-list{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-list-title{
    font-weight: 500;
    color: var(--title-text-color);   
}  
/* Подвал сайта */
footer{
    background-color: #2F303A; 
     
}
.contact-link{
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.footer-logo-span,
.address {
      color: var(--secondary-accent-color);
} 
.contact-link:hover,
.contact-link:focus{
    color: var(--primary-accent-color);
}

/* Страница Портфолио */
.nav-button{
    cursor: pointer;
    font-family: inherit;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    border-radius: 4px;
    border-color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;

}
.nav-button:hover,
.nav-button:focus{
    background: var(--primary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--secondary-accent-color);
}
.projects-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.projects-item-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
 }
 